---
title: Monty Python Tags
layout: page
---
{% assign rawtags = "" %}
{% for sketch in site.sketches %}
	{% assign ttags = sketch.tags | join:'|' | append:'|' %}
	{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

<h2>Unique Tags</h2>
<ul class="taxonomy-index">
	{% for tag in tags %}
	<li>
		<a href="#{{ tag | slugify }}">{{ tag }}</a>
	</li>
{% endfor %}
</ul>

<hr />

<h2>Sketches by Tag</h2>
{% for tag in tags %}
<section id="{{ tag | slugify | downcase }}" class="taxonomy-section">
	<h2 class="taxonomy-title">{{ tag }}</h2>
	 {% for sketch in site.sketches %}
			{% if sketch.tags contains tag %}
			<div class="entries-{{ page.entries_layout | default: 'list' }}">
				<a href="{{ site.url}}{{ sketch.url }}">{{ sketch.title }}</a>
			</div>
			{% endif %}
	 {% endfor %}
	</ul>
{% endfor %}
