---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

.taxonomy-index {
  display: flex;
  grid-column-gap: 2em;
  grid-template-columns: repeat(2, 1fr);

  a {
    border-bottom: none;
  }

  a .fa-tag {
    margin: 0.3em 0.4em 0 0;
  }
}
