---
layout: page
---

{{ content }}

{% assign sorted_tags = site.tags | sort %}
{% for tag in sorted_tags %}
  <section id="{{ tag | slugify | downcase }}" class="taxonomy-section">
    <h2 class="taxonomy-title">{{ tag }}</h2>
  {% assign posts = tag[1] | sort %}

  {% if posts != empty %}
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
    {% for p in posts %}
      {% include entry.html %}
    {% endfor %}
    </div>
  {% endif %}
    <a href="#page-title" class="back-to-top">{{ site.data.text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
